.dot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: flex;
  position: absolute;
}
.dot__mini {
  width: 7px;
  height: 7px;
}
.dot__dot {
  top: -10px;
  right: 20px;
}
